<div class='form-group text-field my-3'>
  <%= form.label :email %>
  <%= form.email_field :email, class: 'form-control' %>
</div>

<div class='text-field my-3'>
  <%= form.label :username %>
  <%= form.text_field :username, class: 'form-control' %>
</div>

<div class='password-field my-3'>
  <%= form.label :password %>
  <%= form.password_field :password, class: 'form-control' %>
</div>
